body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}
header {
Height :10%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 1rem;
border-bottom: 1px solid black;
}

header img {
width: 30px;
height: 30px;
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  height: 20%;
  margin-bottom: 1%;
}
p {
  height: 3.3%;
  margin-top: 1%;
  text-align: center;
}

footer {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-top: 1px solid black;
  }

  footer a {
  text-decoration: none;
  color: inherit;
  }
