body {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

header {
  position: fixed;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

header p {
  margin-top: 20px;
  font-size: 20px;
}

.homegreen-image {
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.back-image {
  margin-right: 10px;
  width: 45px;
  height: 45px;
}

nav {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e8fcf7;
}

nav p {
  margin-top: 26%;
}

main {
  height: 70%;
  width: 100%;
}
.date{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #40f3c9;
  width: 180px;
  margin-left: 20px;
}
.notice {


}

section {
  height: 100%;
  width: 100%;
}
.tip{

}
.section1 {
  height: 30%;
  background-color: #86dac6
  
}

.tipimg {
  height: 70%;
  background-color: white;
  display: flex;
  justify-content: space-between;

}
img{
  border-radius: 30%;
  padding: 0.5rem;
}
.box {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid #33D9B2;
  margin: auto;
}

.simpletip li{
  margin-top: 10px;
}
.subtitle{

}
.info{
  margin-bottom: 30%;
}



footer {
  position: fixed;
  height: 10%;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-top: 1px solid #33D9B2;
  margin-top: 30px;
  
}
footer a {
  text-decoration: none;
  color: inherit;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
}