* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 390px;
  height: 844px;
  background: linear-gradient(to bottom, #33D9B2, #ffffff 18%);
}


header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
header p {
  font-size: 22px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
header span {
font-size: 15px;
}

.homegreen-image {
width: 40px;
height: 40px;
}

.back-image {
width: 50px;
height: 50px;
}

main {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border: 2px solid #33D9B2;
  border-radius: 50px;
  margin-top: 30px;
  margin-bottom: 10px;
}
main div{
  margin-top:6px;
}
.question {
  margin-bottom: 10px;
}

.question label {
  display: block;
  margin-bottom: 5px;
}

.question input[type="radio"] {
  margin-right: 5px;
}

footer {
height: 10%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 1rem;
border-top: 1px solid #33D9B2;
}

footer a {
text-decoration: none;
color: inherit;
}
