<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="NoticePage.css">
</head>
<body>
  
  <header>
    <a href="/">
      <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.href='index.html'">
    </a>
    <p></p>
    <img src="profile.png" alt="Profile Image" class="profile-image" onclick="location.href='login.html'">
  </header>

  <main id="main">
    <section onclick="createNewPage(1)">Section 1</section>
    <section onclick="createNewPage(2)">Section 2</section>
    <section onclick="createNewPage(3)">Section 3</section>
    <section onclick="createNewPage(4)">Section 4</section>
    <section onclick="createNewPage(5)">Section 5</section>
    <section onclick="createNewPage(6)">Section 6</section>
    <section onclick="createNewPage(7)">Section 7</section>
    <section onclick="createNewPage(8)">Section 8</section>
  </main>

  <footer>
    <a href="/" onclick="location.href='FAQpage.html'">FAQ</a>
    <a href="/" onclick="location.href='Noticepage.html'">소식</a>
  </footer>

 <script src="NoticePage.js"></script>
</body>
</html>
