<!DOCTYPE html>
<html>
<head>
  <title>이벤트 페이지</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="eventpage.css">
</head>
<body>
  <header>
    <a href="/">
      <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.       href='index.html'">
      </a>
      <p>알림 마당</p>
      <div class="header-right">
        <img src="profile.png" alt="Profile Image" class="profile-image" onclick="location.       href='Sublogin.html'">
      </div>
  </header>
  <main>
    <img src="petfree.png" alt="일정이 곧 업데이트 될 예정입니다.">
    <p>2023.05.14~15 : 플라스틱 프리 챌린지</p>
    <img src="storereduce.png" alt="일정이 곧 업데이트 될 예정입니다.">
    <p>2023.03.28~07.01 : 일회용품 줄여 가게 행사 일정 </p>
    <img src="us.png" alt="일정이 곧 업데이트 될 예정입니다.">
    <p>2023.03.25 : 어스 아워 챌린지</p>
  </main>
  <footer>
    <a href="#" onclick="location.href='SubFAQpage.html'">FAQ</a>
    <a href="#" onclick="location.href='SubNoticePage.html'">공지사항</a>
  
  </footer>
</body>
</html>
