<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>"세계 벌의 날"</title>
  <link rel="stylesheet" type="text/css" href="subeventBeeday.css">
</head>
<body>
  <header>
    <a href="/">
      <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.href='index.html'">
    </a>
    <p>" 세계 벌의 날 " </p>
    <div class="header-right">
      <img src="back.png" alt="back Image" class="back-image" onclick="location.href='Subeventpage.html'">
    </div>
  </header>
  <nav>
    <br><br><br><br>
    <p>2017년 국제연합(UN)이 생태계 보호에 중요한 역할을 담당하는 벌의 가치를 알리기 위해 지정한 기념일로, 매년 5월 20일이다. 이 기념일에는 멸종 위기에 처한 꿀벌을 보호하는 활동은 물론 그와 관련된 다양한 행사들이 개최되고 있다.</p>
  </nav>
  <main>
      <section class="date">
        날짜 : 매년 5월 20일
      </section>
      <section class="notice">
        <h3>2035년 꿀벌 멸종설의 실체는?</h3>
        <p>현재 전 세계 벌의 종은 약 2만여 종이지만, 그중 약 40%에 해당하는 8천여 종이 멸종 위기에 처해있다. 최근 세계 곳곳에서 일어나고 있는 꿀벌 관련 이상 현상으로 인해 꿀벌 개체 수가 급격히 감소하고 있기 때문이다.
        일부 전문가들은 현재와 같은 추세라면 “2035년 꿀벌이 지구상에서 완전히 사라질 것”이라는 비관적인 전망을 하기도 했다.</p>
      </section>
      <div class ="tip">
        <h4>꿀벌의 중요성</h4>
      </div>
      <section class="tipimg">
        <img src="bees.png" alt="bees" class="box">
        <img src="dropwater.png" alt="dropwater" class="box">
        <img src="pesticide.png" alt="pesticide" class="box">
      </section>
      <section class="simpletip">
        
      <p>꿀벌은 세계적으로 식물의 수분과 영양분을 전달하는 역할을 한다.</p>
      <p>꿀은 인간의 식품과 의약품 생산에 매우 중요한 역할을 한다. </p>
      <p>농약 사용 최소화한다. </p>
    
      </section>
      <div class="subtitle">꿀벌이 사라지면 인류도 사라진다?</div>
      <div class ="info">
        꿀벌은 식물의 꽃가루를 옮겨 열매를 맺게 하는데 이와 같은 과정이 농작물의 수확량을 증가시켜 전 인류의 식량 공급에 이바지 하는데 큰 영향력을 끼치고 있습니다. 
        유엔식량농업기구(FAO)에서는 꿀벌이 사라지면  농작물들이 열매를 맺지 못해 사라질 것이라고 합니다.  
        그러면 동물들도 먹이가 없으니 사라져 버리게 됩니다.
        생태계 파괴와 지구온난화도 같이 진행되고 있는 상황입니다. 
        결국 먹이사슬의 정점에 있는 인간 역시 식량 부족과 전쟁으로 사라질 수 있습니다.
        </div>
  
 </main>
  <footer>
    <a href="#" onclick="location.href='SubFAQpage.html'">FAQ</a>
    <a href="#" onclick="location.href='SubNoticePage.html'">공지사항</a>
  </footer>
</body>
</html>

