<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>식목일</title>
  <link rel="stylesheet" type="text/css" href="subevent.css">
</head>
<body>
  <header>
    <a href="/">
      <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.href='index.html'">
    </a>
    <p>" 식목일 “</p>
    <div class="header-right">
      <img src="back.png" alt="back Image" class="back-image" onclick="location.href='Subeventpage.html'">
    </div>
  </header>
  <nav>
    <p>나무 심기를 통하여 국민의 나무 사랑 정신을 북돋우고, 산지(山地)의 자원화를 위하여 제정된 날이다.</p>
  </nav>
  <main>
      <section class="date">
        <p>날짜 : 매년 4월 05일 </p>
      </section>
      <section class="notice">
        <h3>식목일은 왜 4월 5일로 지정되었을까요?</h3>
        <p>식목일이 4월 5일인 이유는 절기와 관련이 있습니다. 24절기 중 하나인 청명(淸明)이 4월 4일~5일경인데요, 청명이라는 말 그대로 날씨가 좋은 날이고, 날씨가 좋아야 봄에 막 시작하는 농사 일이나 고기잡이 같은 생업 활동을 하기에도 수월한 날이라고 합니다. 따라서 식목일을 청명에 맞춘 거라고 하네요!</p>
      </section>
      <div class ="tip">
        <h4>식목일의 중요성 </h4>
      </div>
      <section class="tipimg">
        <img src="drought.png" alt="drought" class="box">
        <img src="forest.png" alt="forest" class="box">
        <img src="photosynthesis.png" alt="photosynthesis" class="box">
      </section>
      <section class="simpletip">
        <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
      </section>
      <div class="subtitle"><h4>식목일이 3월로 앞당겨질 수도 있다고요?</h4> </div>
      <div class ="info">
        
네. 식목일을 3월로 변경해야 한다는 의견이 나오고 있습니다.
최근 지구온난화로 인해 4월초의 평균기온이 2도가량 높아져서 
심은 묘목이 뜨거운 열기를 버티지 못하고 뿌리를 내 수 없기 때문이에요.
지금 우리의 지구는 어떤가요?
공기중의 이산화탄소량이 증가하면서 가뭄과 해수면 상승,대기오염등이 발생하여 
생태계가 파괴되고 있습니다.
비옥했던 지구는 점차 병들어 가고 우리가 살아갈 공간이 줄어들고 있어요.
나무 생육을 위해 기후변화를 반영하여 날짜를 앞당겨야 하지 않을까요?
“3월 3일 “ , 
산림청도 타당성을 신중하게 검토하여 발표할 예정이라고 공식 발표했습니다.
        우리나라의 경우 1990년부터 7월 1일을 '물의 날'로 정하여 행사를 개최하다가 UN에서 '세계 물의 날' 행사에 동참할 것을 요청해 오자 1995년부터 3월 22일로 '물의 날'을 변경하였다.
        </div>
  
 </main>
  <footer>
    <a href="#" onclick="location.href='SubFAQpage.html'">FAQ</a>
    <a href="#" onclick="location.href='SubNoticePage.html'">공지사항</a>
  </footer>
</body>
</html>
