<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>서브페이지 레이아웃</title>
  <link rel="stylesheet" type="text/css" href="subeventEarthday.css">
</head>
<body>
  <header>
    <a href="/">
      <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.href='index.html'">
    </a>
    <p>" 세계 물의 날 “</p>
    <div class="header-right">
      <img src="back.png" alt="back Image" class="back-image" onclick="location.href='Subeventpage.html'">
    </div>
  </header>
  <nav>
    물의날 아이콘 
  </nav>
  <main>
      <section class="section1">
        세계 지구의 날 소개하기
      </section>
      
      <section class="section2">
        <div class="box">생활</div>
        <div class="box">절약</div>
        <div class="box">방법</div>
      </section>
      <section class="section3">
        부가설명
      </section>
  
 </main>
  <footer>
    <a href="#" onclick="location.href='SubFAQpage.html'">FAQ</a>
    <a href="#" onclick="location.href='SubNoticePage.html'">공지사항</a>
  </footer>
</body>
</html>
