<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>" 세계 환경의 날 “</title>
  <link rel="stylesheet" type="text/css" href="subevent.css">
</head>
<body>
  <header>
    <a href="/">
      <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.href='index.html'">
    </a>
    <p>" 세계 환경의 날 “ </p>
    <div class="header-right">
      <img src="back.png" alt="back Image" class="back-image" onclick="location.href='Subeventpage.html'">
    </div>
  </header>
  <nav>
    <p>1972년 6월 스웨덴 스톡홀름에서 열린 '유엔인간환경회의'에서 국제사회가 지구환경보전을 위해 공동노력을 다짐하며 제정한 날로, 매년 6월 5일이다.</p>
  </nav>
  <main>
      <section class="date">
        <p>날짜 : 매년 6월 05일 </p>
      </section>
      <section class="notice">
        <h3>단 하나의 지구 함께 지켜요!</h3>
        <p>“지구환경이 생물학적 한계점에 다가가고 있다. 한계에 도달하면 돌이킬 수 없는 재앙이 일어날 것이다.” 지난 2012년 6월 유엔환경계획(UNEP)은 ‘제5차 지구환경 전망’ 보고서를 통해 수십 년 안에 환경재앙이 시작될 수 있다고 경고했어요.
          <br>
          <br>
        과거의 경고는 더 이상 경고가 아닌 눈앞에 현실로 다가왔습니다.
        폭염과 홍수, 가뭄 등 이상기후 현상부터 플라스틱 쓰레기 문제 등 환경재앙이 전 인류를 위협해요.</p>
      </section>
      <div class ="tip">
        <h4>단 하나의 지구(Only One Earth)</h4>
      </div>
      <section class="tipimg">
        <img src="flood.png" alt="drought" class="box">
        <img src="space.png" alt="forest" class="box">
        <img src="globalwarming.png" alt="photosynthesis" class="box">
      </section>
      <section class="simpletip">
        <ul>
      <li>1</li>
      <li>2</li>
      <li>3 </li>
    </ul>
      </section>
      <div class="subtitle"><h4>우리나라는 언제부터 환경의 날을 기념하고 있을까요?</h4></div>
      <div class ="info">
        1990년 8월 환경 보전에 대한 정부 및 국민의 권리와 의무를 담은 ‘환경정책기본법’이 제정되는데요. 이를 통해 약 30여 개에 이르는 개별 환경법들이 정비됩니다.
        <br>
        <br>
        1992년에는 브라질 리우에서 열린 ‘유엔환경 개발회의’에 참석했으며, 1990년대 이후에는 환경 관련 시민운동이 활발히 진행되면서 전 국민적으로 환경 보호에 대한 관심이 높아지게 됩니다. 이에 정부는 환경 보호의 중요성을 널리 알리기 위해 1996년 ‘각종 기념일 등에 관한 규정’에 따라 6월 5일 환경의 날을 법정 기념일로 제정했어요.
        </div>
  
 </main>
  <footer>
    <a href="#" onclick="location.href='SubFAQpage.html'">FAQ</a>
    <a href="#" onclick="location.href='SubNoticePage.html'">공지사항</a>
  </footer>
</body>
</html>


