<!DOCTYPE html>
<body lang="en"> 
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="ecostyle.css">
</head>
  <header>
    <a href="/">
      <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.href='index.html'">
    </a>
    <p>친환경 라이프</p>
    <img src="profile.png" alt="Profile Image" class="profile-image" onclick="location.href='Sublogin.html'">
  </header>
  <main id="main">
    <section onclick="createNewPage(1)">
      <img src="therm.png" alt="Section 1">
      <p>텀블러사용</p>
    </section>
    <section onclick="createNewPage(2)">
      <img src="bath-scrubber.png" alt="Section 2">
      <p>천연수세미</p>
    </section>
    <section onclick="createNewPage(3)">
      <img src="plastic-recycling.png" alt="Section 3">
      <p>PET 라벨 떼기</p>
    </section>
    <section onclick="createNewPage(4)">
      <img src="shopping-bag.png" alt="Section 4">
      <p>장바구니</p>
    </section>
    <section onclick="createNewPage(5)">
      <img src="box.png" alt="Section 5">
      <p>박스는 깨끗히</p>
    </section>
    <section onclick="createNewPage(6)">
      <img src="service.png" alt="Section 6">
      <p>온도 조절하기</p>
    </section>
  </main>
  
  <footer>
    <a href="#" onclick="location.href='SubFAQpage.html'">FAQ</a>
    <a href="#" onclick="location.href='SubNoticepage.html'">소식</a>
  </footer>
<script src="ecoscript.js"></script>
</body>
</html>