<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>서브페이지 레이아웃</title>
  <link rel="stylesheet" type="text/css" href="subeventEnvday.css">
</head>
<body>
  <header>
    <a href="/">
      <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.href='index.html'">
    </a>
    <p>“ 세계 환경의 날 “</p>
    <div class="header-right">
      <img src="profile.png" alt="Profile Image" class="profile-image" onclick="location.href='Sublogin.html'">
    </div>
  </header>
  <main>2</main>
  <footer>
    <a href="#" onclick="location.href='SubFAQpage.html'">FAQ</a>
    <a href="#" onclick="location.href='SubNoticePage.html'">공지사항</a>
  </footer>
</body>
</html>
