<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="ecostyle.css">

<div class="container">
  <header> 
    <a href="/">
      <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.       href='index.html'">
      </a>
<p>친환경 라이프</p>
<img src="profile.png" alt="Profile Image" class="profile-image" onclick="location.       href='login.html'">
  </header>
  <main>
    <section id="section1">
      <img src="therm.png" alt="therm Image">
      <p>텀블러 사용</p>
    </section>
    <section id="section2">
      <img src="bath-scrubber.png" alt="therm Image"><p>천연수세미</p>
    </section>
    <section id="section3">
      <img src="plastic-recycling.png" alt="therm Image"><p>PET 라벨 떼기</p>
    </section>
    <section id="section4">
      <img src="shopping-bag.png" alt="therm Image"><p>장바구니</p>x
    </section>
    <section id="section5">
      <img src="box.png" alt="therm Image"><p>박스는 깨끗히</p>
    </section>
    <section id="section6">
      <img src="service.png" alt="therm Image"><p>온도 조절하기
      </section></p>
  </main>
  
  <footer>
    <a href="#" onclick="location.href='SubFAQpage.html'">FAQ</a>
    <a href="#" onclick="location.href='SubNoticePage.html'">공지사항</a>
  </footer>
</div>
<script src="ecoscript.js"></script>
<div class="modal">
  <div class="modal-content">
    <!-- <button class="modal-button">닫기</button> -->
  </div>
</div>
<!-- <button class="modal-button" id="openModalButton">열기</button> -->
</body>
</html>