<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>식목일</title>
  <link rel="stylesheet" type="text/css" href="subeventArborday.css">
</head>
<body>
  <header>
    <a href="/">
      <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.href='index.html'">
    </a>
    <p>" 세계 지구의 날 “ </p>
    <div class="header-right">
      <img src="back.png" alt="back Image" class="back-image" onclick="location.href='Subeventpage.html'">
    </div>
  </header>
  <nav>
    <br><br><br><br>
    <p>지구 환경오염 문제의 심각성을 알리기 위해서 자연보호자들이 제정한 지구 환경보호의 날로, 매년 4월 22일이다.</p>
  </nav>
  <main>
      <section class="date">
        날짜 : 매년 4월 22일
      </section>
      <section class="notice">
        <h3>지구의 날의 시작은?</h3>
        <p>1969년 미국 캘리포니아주에서 해상 원유 유출 사고가 발생한 계기로 '지구의날’의 필요성을 주장하면서 시작되었다.

          우리나라는 2009년부터 매년 지구의 날이 있는 주간을 기후 변화주간으로 정해서기후 변화의 심각성을 인식하고 온실가스 감축을 위한 소등행사등을 전국 각지에서 진행해오고 있습니다.</p>
      </section>
      <div class ="tip">
        <h4>지구의 날 중요성</h4>
      </div>
      <section class="tipimg">
        <img src="co2.png" alt="drought" class="box">
        <img src="earth-day.png" alt="forest" class="box">
        <img src="earthhour.png" alt="photosynthesis" class="box">
      </section>
      <section class="simpletip">
        
      <p>환경에 대한 범국민적 관심도 상승을 위해 ‘지구의날’ 기념</p>
      <p>온실가스 감축을 위해서 노력하기</p>
      <p>22일 저녁 8시부터 10분간 소등하기  </p>
    
      </section>
      <div class="subtitle">저녁 8시부터 10분간 소등이 소등이 어떠한 효과를 가질까요?</div>
      <div class ="info">
        2004-2017년 10분 소등을 통해 총 8,589,000KWh 전력을 절감했다고합니다. 

        그리고 온실가스 2,660kg을 감축하는 효과도 있다고 하는데요.
        
        이는 30년 된 소나무 403그루가 1년 동안 흡수하는 탄소량과 비슷한 수준이라고 합니다.
        </div>
  
 </main>
  <footer>
    <a href="#" onclick="location.href='SubFAQpage.html'">FAQ</a>
    <a href="#" onclick="location.href='SubNoticePage.html'">공지사항</a>
  </footer>
</body>
</html>

