<!DOCTYPE html>
<html>
<head>
  <title>이벤트 페이지</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="eventpage.css">
</head>
<body>
  <header>
    <a href="/">
      <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.       href='index.html'">
      </a>
      <div class="header-right">
        <img src="profile.png" alt="Profile Image" class="profile-image" onclick="location.       href='login.html'">
      </div>
  </header>
  <main>
    <img src="homegreen.png" alt="이미지 1">
    <p>이벤트 내용 날짜 등 표시하는 곳</p>
    <img src="profile.png" alt="이미지 2">
    <p>봉사활동 진행중인 소식 알려주기 </p>
    <img src="x-symbol.png" alt="이미지 3">
    <p>이미지 클릭하면 해당 상세정보로 넘어가기</p>
  </main>
  <footer>
    <a href="#" onclick="location.href='FAQpage.html'">FAQ</a>
    <a href="#" onclick="location.href='NoticePage.html'">소식</a>
  
  </footer>
</body>
</html>
