<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>세계 물의 날</title>
  <link rel="stylesheet" type="text/css" href="subeventWaterday.css">
</head>
<body>
  <header>
    <a href="/">
      <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.href='index.html'">
    </a>
    <p>" 세계 물의 날 “</p>
    <div class="header-right">
      <img src="back.png" alt="back Image" class="back-image" onclick="location.href='Subeventpage.html'">
    </div>
  </header>
  <nav>
    <p>인구와 경제활동의 증가로 인하여 수질이 오염되고 전 세계적으로 먹는 물이 부족해지자, 
    유엔(UN)이 매년 3월 22일 경각심을 일깨우기 위하여 정한 날이다.</p>
  </nav>
  <main>
      <section class="date">
        <p>날짜 : 매년 3월 22일</p>
      </section>
      <section class="notice">
        <h3>세계 물의 날을 기억하자. </h3>
        <p>언젠가 아무렇지 않게 사 마시는 생수조차 구할 수 없는 날이 도래한다고 합니다. 

          오늘 아침, 수도를 잠그지 않은 채 양치질을 하진 않았나요?</p>
      </section>
      <div class ="tip">
        <h4>생활 속 물 절약법</h4>
      </div>
      <section class="tipimg">
        <img src="shower.png" alt="shower" class="box">
        <img src="watertap.png" alt="watertap" class="box">
        <img src="cleancar.png" alt="cleancar" class="box">
      </section>
      <section class="simpletip">
        <ul>
      <li>샤워 시간 줄이기 " 1분당 12L 물 절약 " </li>
      <li>면도, 비누칠 , 양치질 할때 수도꼭지 잠그기 !</li>
      <li>셀프 세차 시 호스 대신 물통 사용하기 !</li>
    </ul>
      </section>
      <h4 class="subtitle">부가설명</h4>
      <div class ="info">
        '세계 물의 날'은
        <br>
        인류의 무분별한 개발로 인해 환경이 파괴되고 주변 강이나 바다가 오염되면서 먹을 수 있는 물이 점차 줄어들자,
        <br>
        이를 해결하기 위해 국제적인 협력을 통해 물 관련 문제의 심각성을 인식하고 수자원을 보호하며 이를 개선하자는 취지에서 제정되었다.
        <br>
        <br>
        우리나라의 경우 1990년부터 7월 1일을 '물의 날'로 정하여 행사를 개최하다가 UN에서 '세계 물의 날' 행사에 동참할 것을 요청해 오자 1995년부터 3월 22일로 '물의 날'을 변경하였다.
        </div>
  
 </main>
  <footer>
    <a href="#" onclick="location.href='SubFAQpage.html'">FAQ</a>
    <a href="#" onclick="location.href='SubNoticePage.html'">공지사항</a>
  </footer>
</body>
</html>
