<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="FAQpage.css">

<div class="container">
  <header> 
    <a href="/">
      <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.       href='index.html'">
      </a>
<p>알쓸분잡</p>
<img src="profile.png" alt="Profile Image" class="profile-image" onclick="location.       href='login.html'">
  </header>
  <main>
    <section id="section1">
      <!-- <img src="therm.png" alt="therm Image"> -->
      <p>씻지 않은 플라스틱 용기도 재활용이 될까요?<div class="triangle"></div></p>
    </section>
    <section id="section2">
      <!-- <img src="bath-scrubber.png" alt="therm Image"> -->
      <p>유리창문은 유리병류에 버리면 되나요?<div class="triangle"></div></p>
    </section>
    <section id="section3">
      <!-- <img src="plastic-recycling.png" alt="therm Image"> -->
      <p>식용유는 음식물 쓰레기로 버리면 되나요 ?<div class="triangle"></div></p>
    </section>
    <section id="section4">
      <!-- <img src="shopping-bag.png" alt="therm Image"> -->
      <p>페인트 통은 일반 쓰레기 인가요?<div class="triangle"></div></p>
    </section>
    <section id="section5">
      <!-- <img src="box.png" alt="therm Image"> -->
      <p>배터리는 어디에 버리면 되나요 ?<div class="triangle"></div></p>
    </section>
    <section id="section6">
      <!-- <img src="service.png" alt="therm Image"> -->
      <p>플라스틱 물병 뚜껑은 일반 쓰레기인가요?<div class="triangle"></div></p>
    </section>
  </main>
  
  <footer>
    <a href="#" onclick="location.href='SubFAQpage.html'">FAQ</a>
    <a href="#" onclick="location.href='SubNoticePage.html'">공지사항</a>
  </footer>
</div>
<script src="FAQpage.js"></script>
<div class="modal">
  <div class="modal-content">

  </div>
</div>

</body>
</html>
