<!DOCTYPE html>
<html>
<head>
  <title>FAQ</title>
  <link rel="stylesheet" type="text/css" href="FAQpage.css">

</head>
<body>
  <div class="container">
    <header> 
      <a href="/">
        <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.       href='index.html'">
        </a>
        <div>
  <h1>알쓸분잡</h1>
  <p>'알'아두면 '쓸'모있는 '분'리수거 '잡'지식</p>
</div>
  <img src="profile.png" alt="Profile Image" class="profile-image" onclick="location.       href='Sublogin.html'">
    </header>
    <main>
      <section>
        <p>닭뼈는 일반 쓰레기인가요?</p>
      </section>
      <section>
        <p>빨대는 플라스틱으로 분리수거하나요?</p>
      </section>
      <section>
        <p>귤 껍질은 음식물 쓰레기인가요?</p>
      </section>
      <section>
        <p>과자 비닐은 일반 쓰레기인가요?</p>
      </section>
      <section>
        <p>과자 비닐은 일반 쓰레기인가요?</p>
      </section>
      <section>
        <p>과자 비닐은 일반 쓰레기인가요?</p>
      </section>
    </main>
    <footer>
      <a href="#" onclick="location.href='SubFAQpage.html'">FAQ</a>
      <a href="#" onclick="location.href='SubNoticePage.html'">공지사항</a>
    </footer>
  </div>
  <div class="modal">
    <div class="modal-content">
      <p>닭뼈는 일반쓰레기입니다.</p>
      <!-- <button class="modal-button">닫기</button> -->
    </div>
    <div class="modal-content">
      <p>과자비닐은 일반쓰레기입니다.</p>
      <!-- <button class="modal-button">닫기</button> -->
    </div>
  </div>
  <!-- <button class="modal-button" id="openModalButton">열기</button> -->
  <script src="FAQpage.js"></script>
</body>
</html>
  
