<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="FAQpage.css">

<div class="container">
  <header> 
    <a href="/">
      <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.       href='index.html'">
      </a>
      <div class="FAQtext">
<p>알쓸분잡</p>
<article>'알'아두면 '쓸'모있는 '분'리수거 '잡'지식</article>
    </div>    
<img src="back.png" alt="back Image" class="back-image" onclick="location.       href='/'">
  </header>
  <main>
    <section id="section1">
      <p>씻지 않은 플라스틱 용기도 재활용이 될까요?<div class="triangle"></div></p>
    </section>
    <section id="section2">
      <p>유리창문은 유리병류에 버리면 되나요?<div class="triangle"></div></p>
    </section>
    <section id="section3">
      <p>식용유는 음식물 쓰레기로 버리면 되나요 ?<div class="triangle"></div></p>
    </section>
    <section id="section4">
      <p>페인트 통은 일반 쓰레기 인가요?<div class="triangle"></div></p>
    </section>
    <section id="section5">
      <p>배터리는 어디에 버리면 되나요 ?<div class="triangle"></div></p>
    </section>
    <section id="section6">
      <p>플라스틱 물병 뚜껑은 일반 쓰레기인가요?<div class="triangle"></div></p>
    </section>
  </section>
  <section id="section7">
    <p>새우 껍데기는 알번 쓰레기 인가요?<div class="triangle"></div></p>
  </section>
  </main>
  
  <footer>
    <a href="#" onclick="location.href='SubFAQpage.html'">FAQ</a>
    <a href="#" onclick="location.href='SubNoticePage.html'">공지사항</a>
  </footer>
</div>
<script src="FAQpage.js"></script>
<div class="modal">
  <div class="modal-content"> 
  </div>
</div>

</body>
</html>
