<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Dynamic Page</title>
  <link rel="stylesheet" type="text/css" href="mypage.css">

</head>
<body>
  <header>
    <a href="/">
      <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.       href='index.html'">
      </a>  
    <p></p>
    <img src="profile.png" alt="Profile Image" class="profile-image" onclick="location.       href='Sublogin.html'">
  </header>
  <main>
  <p>희은</p>
  </main>
  <section>
    <input type="file" id="image-input" accept="image/*">
    <div id="image-preview"></div>
  </section>
  <footer>
    <a href="#" onclick="location.href='SubFAQpage.html'">FAQ</a>
    <a href="#" onclick="location.href='SubNoticePage.html'">소식</a>
  </footer>
  <script src="mypage.js"></script>
</body>
</html>


