<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Dynamic Page</title>
  <link rel="stylesheet" type="text/css" href="mypage.css">

</head>
<body>
  <header>
    <a href="/">
      <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.       href='index.html'">
      </a>  
      <div>
    <p>환경 지킴이</p>
    <span>마이페이지</span>
  </div>
    <img src="profile.png" alt="Profile Image" class="profile-image" onclick="location.       href='Sublogin.html'">
  </header>
  <main>
    <img src="treeview.png" alt="treeviewImage" class="treeview-image" >
  <p>희은</p>
  </main>
  <article>사진: 0 좋아요 : 0   </article>
  <nav>사진 관리하기</nav>
  <div>
    <img src="pepsi.jpg" alt="treeviewImage" class="treeview-image" >
    <img src="petclean.jpg" alt="treeviewImage" class="treeview-image" >
  </div>
  <section>
    <input type="file" id="image-input" accept="image/*">
    <div id="image-preview"></div>
  </section>

  <footer>
    <a href="#" onclick="location.href='SubFAQpage.html'">FAQ</a>
    <a href="#" onclick="location.href='SubNoticePage.html'">공지사항</a>
  </footer>
  <script src="mypage.js"></script>
</body>
</html>


