<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="NoticePage.css">
  <div class="container">
    <header> 
      <a href="/">
        <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.       href='index.html'">
        </a>
  <p>공지사항</p>
  <img src="profile.png" alt="Profile Image" class="profile-image" onclick="location.       href='Sublogin.html'">
    </header>
    <main>
      <section id="section1">
        <h1> 공지 ► 무분별한 추천은 적극 지양해주세요.</h1>
      </section>
      <section id="section2">
        <h1> 공지 ► 진행중인 이벤트 일정은 변동될 수 있습니다.</h1>
      </section>
      <section id="section3">
        <h1> 공지 ► 환경지킴이 분리배출 안내</h1><
      </section>
      <section id="section4">
        <h1> 공지 ► 우리 모두와의 약속 </h1></section>
      </section>
      <section id="section5">
        <h1> 공지 ► </h1>
      </section>
      <section id="section6">
        <h1> 공지 ► </h1> 
      </section>
    </main>
  </div>
  <div class="modal">
    <div class="modal-content">
      <!-- <button class="modal-button">닫기</button> -->
    </div>
  </div>
  <!-- <button class="modal-button" id="openModalButton">열기</button> -->

  <footer>
    <a href="#" onclick="location.href='SubFAQpage.html'">FAQ</a>
    <a href="#" onclick="location.href='SubNoticePage.html'">공지사항</a>
  </footer>
<script src="NoticePage.js"></script>
</body>
</html>
