<!DOCTYPE html>
<html>
  <head>
    <title>테스트 시작 페이지 </title>
    <link rel="stylesheet" type="text/css" href="SubtestGuide.css">
  </head>
  <body>
    <header>
      <a href="/">
        <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.href='index.html'">
      </a>
      <p>환경 지킴이 테스트</p>
      <img src="back.png" alt="back Image" class="back-image" onclick="location.href='/'">
    </header>
<article>
  <p>지금 바로 문제를 풀어보세요!<br> 환경지킴이를 통해 배운 것들을 확인해보세요 !  </p>
</article>
    <main>
  
      <div class="image-container">
        <img src="test.png" alt="test-image" class="test-image" />
      </div>
    </main>
    <section>
      <button onclick="window.location.href='Subtest.html'"><h1>문제 풀러가기</h1></button>
    </section>
    <footer>
      <a href="#" onclick="location.href='SubFAQpage.html'"><p>FAQ</p></a>
      <a href="#" onclick="location.href='SubNoticePage.html'"><p>공지사항</p></a>
    </footer>
  <script src ="testGuide.js"></script>
    </script>
  </body>
</html>

