<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 문제지  </title>
    <link rel="stylesheet" type="text/css" href="test.css">
  </head>
  <body>
    <header>
    <a href="/">
    <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.       href='index.html'">
    <div>
    </a>
    <p>환경 지킴이 테스트</p>
    <span>기본적으로 분리배출은 <br>재활용 , 음식물 , 일반쓰레기 분류합니다.</span>
    </div>
    <img src="profile.png" alt="Profile Image" class="profile-image" onclick="location.href='Sublogin.html'">
    </header>
    </header>
  
    <main>
      <div class="question">
        <label for="q1">Q 1 : 바나나 껍질은 음식물 쓰레기이다.</label>
        <input type="radio" name="q1" value="음식물 쓰레기">음식물 쓰레기 
        <input type="radio" name="q1" value="일반 쓰레기">일반 쓰레기
        <input type="radio" name="q1" value=">모르겠다.">모르겠다.
      </div>
  
      <div class="question">
        <label for="q2">Q 2 : 달걀 껍질은 일반 쓰레기이다.</label>
        <input type="radio" name="q2" value="음식물 쓰레기">음식물 쓰레기 
        <input type="radio" name="q2" value="일반 쓰레기">일반 쓰레기
        <input type="radio" name="q2" value="모르겠다.">모르겠다.
      </div>
  
      <div class="question">
        <label for="q3">Q 3 : 과자 비닐은 비닐류로 분리수거한다.</label>
        <input type="radio" name="q3" value="비닐 쓰레기">비닐 쓰레기
        <input type="radio" name="q3" value="일반 쓰레기">일반 쓰레기
        <input type="radio" name="q3" value="모르겠다.">모르겠다.
      </div>
  
      <div class="question">
        <label for="q4">Q 4 : 대게껍질은 일반 쓰레기이다.</label>
        <input type="radio" name="q4" value="음식물 쓰레기">음식물 쓰레기
        <input type="radio" name="q4" value="일반 쓰레기">일반 쓰레기
        <input type="radio" name="q4" value="모르겠다.">모르겠다.
      </div>
  
      <div class="question">
        <label for="q5">Q 5 : 치킨 뼈는 음식물 쓰레기이다</label>
        <input type="radio" name="q5" value="음식물 쓰레기">음식물 쓰레기
        <input type="radio" name="q5" value="일반 쓰레기">일반 쓰레기
        <input type="radio" name="q5" value="모르겠다.">모르겠다.
        </div>
        <div class="question">
          <label for="q6">Q 6 : 파뿌리는 일반 쓰레기이다.</label>
          <input type="radio" name="q6" value="음식물 쓰레기">음식물 쓰레기
          <input type="radio" name="q6" value="일반 쓰레기">일반 쓰레기
          <input type="radio" name="q6" value="모르겠다.">모르겠다.
        </div>
      
        <div class="question">
          <label for="q7">Q 7 : 알루미늄 호일은 일반 쓰레기이다. </label>
          <input type="radio" name="q7" value="비닐 쓰레기">비닐 쓰레기
          <input type="radio" name="q7" value="일반 쓰레기">일반 쓰레기
          <input type="radio" name="q7" value="모르겠다.">모르겠다.
        </div>
      
        <div class="question">
          <label for="q8">Q 8 : 부탄가스 통은 캔류로 분리배출한다. </label>
          <input type="radio" name="q8" value="캔류 쓰레기">캔류 쓰레기
          <input type="radio" name="q8" value="일반 쓰레기">일반 쓰레기
          <input type="radio" name="q8" value="위험성 폐기물">위험성 폐기물 
        </div>
      
        <div class="question">
          <label for="q9">Q 9 : 전자레인지는 플라스틱으로 분리배출한다.</label>
          <input type="radio" name="q9" value="플라스틱 쓰레기">플라스틱 쓰레기
          <input type="radio" name="q9" value="일반 쓰레기">일반 쓰레기
          <input type="radio" name="q9" value="대형가전제품">대형가전제품
        </div>
      
        <div class="question">
          <label for="q10">Q 10 : 비닐봉지는 모두 비닐류로 분리배출한다</label>
          <input type="radio" name="q10" value="비닐 쓰레기">비닐 쓰레기 
          <input type="radio" name="q10" value="일반 쓰레기">일반 쓰레기
          <input type="radio" name="q10" value="모르겠다.">모르겠다. 
        </div>
      
        <div id="total"></div>
      </main>
      
      <footer>
        <a href="#" onclick="location.href='SubFAQpage.html'">FAQ</a>
        <a href="#" onclick="location.href='SubNoticePage.html'">공지사항</a>
      </footer>
      <script src="test.js"></script>
  </body>
</html> 