<!DOCTYPE html>
<html>
  <head>
    <title>테스트 시작 페이지 </title>
    <link rel="stylesheet" type="text/css" href="SubtestGuide.css">
  </head>
  <body>
    <header>
      <a href="/">
        <img src="homegreen.png" alt="homegreen" class="homegreen-image" onclick="location.href='index.html'">
      </a>
      <p>지킴이 테스트</p>
      <img src="profile.png" alt="Profile Image" class="profile-image" onclick="location.href='Sublogin.html'">
    </header>
<article>
  <p>테스트를 바탕으로 올바른 환경보호를<br>
  했는지 문제를 풀어보고 등급을 확인하세요 ! </p>
</article>
    <main>
  
      <div class="image-container">
        <img src="test.png" alt="test-image" class="test-image" />
      </div>
    </main>
    <section>
      <button onclick="window.location.href='test.html'"><h1>문제 풀러가기</h1></button>
    </section>
    <footer>
      <a href="#" onclick="location.href='SubFAQpage.html'"><p>FAQ</p></a>
      <a href="#" onclick="location.href='SubNoticePage.html'"><p>소식</p></a>
    </footer>
  <script src ="testGuide.js"></script>
    </script>
  </body>
</html>

