* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

header {
  Height :10%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 1px solid black;
}

header img {
  width: 40px;
  height: 40px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  height: 10vh;
  padding: 1vh 1vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

section img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

footer {
  height: 10%;
  padding: 1vh 1vw;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  text-decoration: none;
  color: inherit;
  margin-left: 10px;
}

footer a {
  margin: 0 10px;
  text-decoration: none;
}

.footer-link,
footer a {
  color: black;
}
