* {
  margin: 0;
  padding: 0;
}

body,html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(to bottom, #33D9B2, #f9f9f8 50%);
    }

header {
  Height :10%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header p {
  font-size: 20px;
  }

.homegreen-image {
  width: 40px;
  height: 40px;
  }

  .back-image {
  margin-right: 10px;
  width: 43px;
  height: 43px;
  }


main {
  height: 40%;
  width:  90%;
  display: flex;
  margin-left: 20px;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid #33D9B2;
  background-color: #FFFFFF;
  border-radius: 60px; 
}
.pet-image{
  width: 250px;
  height: 250px;
}

article{
  height: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
article img {
  margin-bottom: 20px;
  height: 100px;
  width: 100px;
  
}


a.download-button {
  color: inherit;
  text-decoration: none;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20%;
  opacity: 80%;
  background-color: #ffffff;
}
.slide {
  display: none;
}

#image-preview {
  width: 200px;
  height: 200px;
}
#image-preview img {
  width: 200px;
  height: 200px;
  border-radius: 30px;
}
footer {
  height: 10%;
  border-top: 1px solid #33D9B2;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  text-decoration: none;
  color: inherit;
  margin-left: 10px;
}

footer a {
  margin: 0 10px;
  text-decoration: none;
}

.footer-link,
footer a {
  color: black;
}
