    /* 전체 페이지 */
    html, body {
      height: 100%;
      margin: 0;
    }
    /* 헤더 */
    header {
Height :10%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 1rem;
border-bottom: 1px solid black;
}

header img {
width: 30px;
height: 30px;
}
    /* 메인 */
    main {
      height: 35%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    main img {
      max-width: 100vw;
      max-height: 100%;
    }
    /* 섹션 */
    .section1 {
      width:100%;
      height:30%;  
      border: 1px solid #000;
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center; 
      align-items: center; 
      margin: 0 auto; 
    }
    .section2 {
      width:100%;
      height:10%;  
      border: 1px solid #000;
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center; 
      align-items: center; 
      margin: 0 auto; 
    }
    
    #LinkContainer {
    width: 100%;
    height: 100%; 
    background-color: #ffffff; 
    border: 1px solid #000; 
    display: flex; 
    justify-content: center;
    align-items: center; 
  }
  
    #LinkContainer a {
      text-decoration: none; 
      color: inherit; 
    }
    footer {
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
      border-top: 1px solid black;
      }

      footer a {
      text-decoration: none;
      color: inherit;
} 
    /* 푸터  */
    /* footer {
      background-color: #a2a2a2; 
      height: 10%; 
      justify-content: center;
      align-items: center;
      display: flex; 
    } */
    footer div {
      width: 90%; 
      height: 90%; 
      background-color: #ffffff; 
      border: 1px solid #000; 
      display: flex; 
      justify-content: center; 
      align-items: center; 
    } 
    /* 로그인 섹션 */
    #Login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin: auto;
}
#IdSection, #PasswordSection {
  width: 90%;
  height: 30%;
  background-color: #ffffff;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  margin-top:  20px;
}
    