    html, body {
      height: 100%;
      margin: 0;
    }
  
    header {
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
    }
    header p {
    font-size: 20px;
    }

.homegreen-image {
  width: 40px;
  height: 40px;
  }

  .profile-image {
  width: 45px;
  height: 45px;
  }

    /* 메인 */
    main {
      height: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    main img {
      margin-top: 30px;
      max-width: 90%;
      max-height: 90%;

    }
    .section1 {
      width:100%;
      height:30%;  
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center; 
      align-items: center; 
      margin: 0 auto; 
    }
    .section2 {
      width:100%;
      height:10%;  
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center; 
      align-items: center; 
      margin: 0 auto; 
    }
    
    #LinkContainer {
    width: 100%;
    height: 100%; 
    background-color: #ffffff; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: column;
  }
  
    #LinkContainer a {
      text-decoration: none; 
      color: inherit; 
    }
    footer {
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
      border-top: 1px solid #33D9B2;
      }

      footer a {
      text-decoration: none;
      color: inherit;
} 
  
    footer div {
      width: 90%; 
      height: 90%; 
      background-color: #ffffff; 
      display: flex; 
      justify-content: center; 
      align-items: center; 
    } 

    #Login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin: auto;
}
#IdSection label, #PasswordSection label{
  display: block;
  font-size: 18px;
}

#IdSection input[type="text"],
#PasswordSection input[type="password"] {

  width: 100%;
  height: 30%;
  border: 1px solid #33D9B2;
  border-radius: 30px;
  padding: 10px;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  font-size: 18px;
}
button{
width: 40%;
height: 25%;
font-size: 18px;
border: none;
cursor: pointer;
background-color: #33D9B2;
color: white;
padding: 10px 20px;
border-radius: 30px;
margin-top: 20px;
}



